@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>
   <div class="site-wrapper">
    <div class="site-wrapper-inner">
     <div class="cover-container">
      <div class="masthead clearfix">
       <div class="inner">
        <h3 class="masthead-brand">
         <span class="fa-stack fa-lg">
  		  <i class="fa fa-circle fa-stack-2x" style="color: #A61D36;"></i>
  		  <i class="fa fa-medkit fa-stack-1x"></i>
		 </span>HMS
	    </h3>
        <h4>
		 <ul class="nav masthead-nav">
          <li class="active">
			  <a href="#">
			   <span class="fa-stack">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-home fa-fw fa-stack-1x"></i>
			   </span>&nbsp; Home
			  </a>
		  </li>
		  <li>
			  <a href="#">
			   <span class="fa-stack">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-hospital-o fa-fw fa-stack-1x"></i>
			   </span>&nbsp; Features
			  </a>
		  </li>
		  <li>
			  <a href="#">
			   <span class="fa-stack">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-microphone fa-fw fa-stack-1x"></i>
			   </span>&nbsp; Contact
			  </a>
		  </li>
         </ul>
        </h4>
       </div>
      </div>
      <div id="intro" class="inner cover">
       <h1 class="cover-heading">Hospital Management System</h1>
       <p class="lead">Hospital management system will provide a software solution for managing Hospital more efficiently and effectively.It will enable Hospital administrator to implement an automatic Hospital management system by which a centralized system can keep track of activities happening in hospital.</p>
       <p class="lead">
        <a id="btnSignin" class="btn btn-lg btn-default">Sign in&nbsp; &nbsp; <i class="fa fa-sign-in"></i></a>
       </p>
      </div>
	  <div style="display:none;" id="signIn" class="inner cover">
	    <form class="form-signin" role="form">
         <h2 class="form-signin-heading">Please sign in</h2>
         <input type="email" class="form-control" placeholder="Email address" required autofocus>
         <input type="password" class="form-control" placeholder="Password" required>
         <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
         </label>
         <button id="login" class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
      </div> <!-- /container -->
      <div id="menuItems" class="menu-items"  style="display:none;">
		  <p style="padding-bottom:10px;">
			  <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-user-md fa-stack-1x"></i>
				</span>Doctors&nbsp;&nbsp;
			  </button>&nbsp;&nbsp;&nbsp;
			  <button class="btn btn-lg btn-success" href="#">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-wheelchair fa-stack-1x"></i>
				</span>Patients&nbsp;&nbsp;&nbsp;
			  </button>&nbsp;&nbsp;&nbsp;
		      <button class="btn btn-lg btn-warning" href="#">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-users fa-stack-1x"></i>
				</span>Employees
			  </button>
		  </p>
		  <p style="padding-bottom:10px;">
			  <button class="btn btn-lg btn-danger" href="#">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-money fa-stack-1x"></i>
				</span>Billing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  </button>&nbsp;&nbsp;&nbsp;
			  <button class="btn btn-lg btn-info" href="#">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-recycle fa-stack-1x"></i>
				</span>Resource
			  </button>&nbsp;&nbsp;&nbsp;
		      <button class="btn btn-lg btn-primary" href="#">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-stethoscope fa-stack-1x"></i>
				</span>Instruments
			  </button>
		  </p>
		  <p>
			  <button class="btn btn-lg btn-info" href="#">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-gears fa-stack-1x"></i>
				</span>Settings&nbsp;&nbsp;
			  </button>&nbsp;&nbsp;&nbsp;
			  <button class="btn btn-lg btn-warning" href="#">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-print fa-stack-1x"></i>
				</span>Print&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  </button>&nbsp;&nbsp;&nbsp;
		      <button class="btn btn-lg btn-danger" href="#">
				<span class="fa-stack fa-2x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-pencil-square-o fa-stack-1x"></i>
				</span>Registration
			  </button>
		  </p>		  
	  </div>
	  
<!--For Doctors -->	  
<div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
 <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
     <h4 class="modal-title" id="myModalLabel">Doctors</h4>
    </div>
    <div class="modal-body">
     <ul id="doctorTab" class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a href="#showDoctor">Show Doctor</a></li>
	  <li><a href="#addNewDoctor">Add new</a></li>
	  <li><a href="#printDoctor">Print</a></li>
	  <li><a href="#deleteDoctor">Delete</a></li>
	 </ul>
	 <br>
	<div id="doctorTabContent" class="tab-content"> 
     <div id="showDoctor" class="tab-pane fade active in panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">Doctor's details</div>
      <div class="panel-body">
        <p></p>
      </div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone No.</th>
            <th>Expertise</th>
            <th>Duty Cycle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Dr.Suvash</td>
            <td>Barasat</td>
            <td>9830908765</td>
            <td>General</td>
            <td>2p.m-5p.m.</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Dr. Chetan</td>
            <td>Chennai</td>
            <td>9831908765</td>
            <td>General</td>
            <td>4p.m-5p.m.</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Dr.Majumder</td>
            <td>Kokata</td>
            <td>9830923655</td>
            <td>General</td>
            <td>Always</td>
          </tr>
        </tbody>
      </table>
    </div>
     <div id="addNewDoctor" class="tab-pane fade panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">Doctor's details</div>
      <div class="panel-body">
        <p></p>
      </div>
      <form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-4 control-label">Doctor's Name</label>
				<div class="col-sm-6">
					<input type="name" class="form-control" id="DoctorName" placeholder="DoctorName">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-4 control-label">Address</label>
				<div class="col-sm-6">
					<input type="name" class="form-control" id="AddressDoc" placeholder="Address">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-4 control-label">Phone number</label>
				<div class="col-sm-6">
					<input type="name" class="form-control" id="phoneDoc" placeholder="Ex:9932457689">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-4 control-label">Expertise</label>
				<div class="col-sm-6">
					<input type="name" class="form-control" id="Expertise" placeholder="Expertise">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-4 control-label">Duty cycle</label>
				<div class="col-sm-6">
					<input type="name" class="form-control" id="dutyCycle" placeholder="Duty cycle">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-3">
					<button type="submit" class="btn btn-info">Save and continue</button>
				</div>
			</div>
		</form>
     </div>
     <div id="printDoctor" class="tab-pane fade panel panel-warning">
             <!-- Default panel contents -->
      <div class="panel-heading">Doctor's details</div>
      <div class="panel-body">
        <p class="text-right"><button type="button" class="btn btn-primary">Print</button></p>
      </div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone No.</th>
            <th>Expertise</th>
            <th>Duty Cycle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Dr.Suvash</td>
            <td>Barasat</td>
            <td>9830908765</td>
            <td>General</td>
            <td>2p.m-5p.m.</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Dr. Chetan</td>
            <td>Chennai</td>
            <td>9831908765</td>
            <td>General</td>
            <td>4p.m-5p.m.</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Dr.Majumder</td>
            <td>Kokata</td>
            <td>9830923655</td>
            <td>General</td>
            <td>Always</td>
          </tr>
        </tbody>
      </table>
     </div>
     <div id="deleteDoctor" class="tab-pane fade panel panel-danger">
                  <!-- Default panel contents -->
      <div class="panel-heading">Doctor's details</div>
      <div class="panel-body">
        <p class="text-right"><button type="button" class="btn btn-primary">Delete</button></p>
      </div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
			<th><input type="checkbox">Select all</th>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone No.</th>
            <th>Expertise</th>
            <th>Duty Cycle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
			<td><input type="checkbox"></td>
            <td>1</td>
            <td>Dr.Suvash</td>
            <td>Barasat</td>
            <td>9830908765</td>
            <td>General</td>
            <td>2p.m-5p.m.</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>2</td>
            <td>Dr. Chetan</td>
            <td>Chennai</td>
            <td>9831908765</td>
            <td>General</td>
            <td>4p.m-5p.m.</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td>3</td>
            <td>Dr.Majumder</td>
            <td>Kokata</td>
            <td>9830923655</td>
            <td>General</td>
            <td>Always</td>
          </tr>
        </tbody>
      </table>  
     </div>
    </div>
   </div>
   <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
   </div>
  </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div>
  
  
      <div class="mastfoot">
       <div class="inner">
        <p>All copyrights reserved by <a href="http://www.technicise.com">Technicise.com</a>.</p>
       </div>
      </div>
     </div>
    </div>
   </div>
   <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
  </body>
</html>
